/*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}-->*/

.logo{
    max-width: 50px;
    margin: auto;

}

.banner {
    display: block;               
    margin: 50px auto;            
    max-width: 70%;               
    height: auto;                                
    box-sizing:content-box;       
    border-radius: 20px;         
  }
  